<!doctype html>
<html
	xmlns:th="http://www.thymeleaf.org"
 	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">
	
<th:block layout:fragment="pageTitle">
<div class="page-header">
	<ol class="breadcrumb">
		<li class="breadcrumb-item">6/20</li>
		<li class="breadcrumb-item active">수정</li>
	</ol>

	<ul class="app-actions">
		<li>
			<a href="#" id="reportrange">
				<span class="range-text"></span>
				<i class="icon-chevron-down"></i>	
			</a>
		</li>
		<li>
			<a href="#">
				<i class="icon-export"></i>
			</a>
		</li>
	</ul>
</div>
</th:block>

<th:block layout:fragment="container">
	<!-- Main container start -->
				<div class="main-container">

					<!-- Row start -->
					<div class="row gutters justify-content-center">
						<div class="col-xl-5 col-lg-5 col-md-6 col-sm-6 col-12">
							<form>
								<div class="card m-0">
									<div class="card-header">
										<div class="card-title">입고요청</div>
										
									</div>
									<div class="card-body">
										<div class="form-group">
											<input type="text" class="form-control" id="productCode" name="productCode" placeholder="상품코드" required="">
										</div>
										<div class="form-group">
											<input type="email" class="form-control" id="warehousingWarehouse" name="warehousingWarehouse" placeholder="입고창고" required="">
										</div>
										<div class="form-group">
											<input type="text" class="form-control" id="storageLocationg" name="storageLocationg" placeholder="보관위치" required="">
										</div>
										<div class="form-group">
											<input type="text" class="form-control" id="warehousingAmount" name="warehousingAmount" placeholder="입고수량" required="">
										</div>
										<div class="form-group">
											<input type="text" class="form-control" id="productBarcode" name="productBarcode" placeholder="바코드" required="">
										</div>
										
										<button type="button" id="submit" name="submit" class="btn btn-primary float-right">입고 요청</button>
									</div>
								</div>
							</form>
						</div>
					</div>
					<!-- Row end -->

				</div>
	<!-- Main container end -->

</th:block>
		
</html>