<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="@{layout/default}">
<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>
<th:block layout:fragment="customContents">
<!-- 	<div th:include="member/search :: searchFragment"></div><br> -->

<div style="width: 100%; height: 350px; overflow: auto">
	<table border="1">
		<thead>
			<tr>
				<th>상품코드</th>
				<th>상품명</th>
				<th>상품가격</th>
				<th>판매자아이디</th>
				<th>판매자명</th>
				<th>판매자이메일</th>
				<th>등록일자</th>
				<th>수정</th>
				<th>삭제</th>
			</tr>
		</thead>
		<tbody>
			<tr th:if="${#lists.size(goodsList) > 0}" th:each="GL : ${goodsList}">
				<td th:text="${GL.goodsCode}"></td>
				<td th:text="${GL.goodsName}"></td>
				<td th:text="${GL.goodsPrice}"></td>
				<td th:text="${GL.goodsSellerId}"></td>
				<td th:text="${GL.member.memberEmail}"></td>
				<td th:text="${GL.member.memberAddr}"></td>
				<td th:text="${GL.goodsRegDate}"></td>
				<td>
					<a href="#">수정</a>
				</td>
				<td>
					<a href="#">삭제</a>
				</td>
			</tr>
			<tr th:unless="${#lists.size(goodsList) > 0}" style="text-align: center;">
				<td colspan="9" th:text="${'검색한 결과가 없습니다.'}">
				</td>
			</tr>
		</tbody>
	</table>
</div>
</th:block>
</html>