<!doctype html>
<html
	xmlns:th="http://www.thymeleaf.org"
 	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">
	
<th:block layout:fragment="pageTitle">
<div class="page-header">
	<ol class="breadcrumb">
		<li class="breadcrumb-item">Home</li>
		<li class="breadcrumb-item active">main</li>
	</ol>

	<ul class="app-actions">
		<li>
			<a href="#" id="reportrange">
				<span class="range-text"></span>
				<i class="icon-chevron-down"></i>	
			</a>
		</li>
		<li>
			<a href="#">
				<i class="icon-export"></i>
			</a>
		</li>
	</ul>
</div>
</th:block>

<th:block layout:fragment="container">
	<!-- Main container start -->
				<div class="main-container">

					<!-- Row start -->
					<div class="row gutters">
						<div class="col-xl-9 col-lg-12 col-md-12 col-sm-12 col-12">
							
							<!-- Row start -->
							<div class="row gutters">
								<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
									<div class="blog">
										<img class="blog-img" src="img/bg1.jpeg" alt="Card image cap">
										<div class="blog-body">
											<h2 class="blog-title">Featured Admin Template</h2>
											<h6 class="blog-date">
												<span class="category">Dashboard</span>
												<span class="divider">/</span>
												<span class="date">25.05.2019</span>
											</h6>
											<div class="blog-description">
												<p>Skyline is a responsive admin dashboard template for admin and back end applications. It is a reliable, user-friendly and easy to customize. Skyline comes with a huge collection of plugins and UI components that makes your work easy. This is a longer card with supporting text below as a natural lead-in to additional content.</p>
											</div>
											<div class="blog-actions">
												<a href="javascript:void(0)" class="btn btn-primary">Keep Reading</a>
												<div class="actions">
													<a href="#"><i class="icon-favorite red"></i>970</a>
													<a href="#"><i class="icon-thumbs-up green"></i>725</a>
													<a href="#"><i class="icon-comment blue"></i>95</a>
													<a href="#"><i class="icon-share grey"></i>250</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
									<div class="blog">
										<img class="blog-img" src="img/img3.jpg" alt="Card image cap">
										<div class="blog-body">
											<h2 class="blog-title">Creative Admin</h2>
											<h6 class="blog-date">
												<span class="category">Dashboard</span>
												<span class="divider">/</span>
												<span class="date">25.05.2019</span>
											</h6>
											<div class="blog-description">
												<p>Skyline is a responsive admin dashboard template for admin and back end applications.</p>
											</div>
											<div class="blog-actions">
												<a href="javascript:void(0)" class="btn btn-primary">Keep Reading</a>
												<div class="actions">
													<a href="#"><i class="icon-favorite red"></i>550</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
									<div class="blog">
										<img class="blog-img" src="img/img5.jpg" alt="Card image cap">
										<div class="blog-body">
											<h2 class="blog-title">Horizontal Admin</h2>
											<h6 class="blog-date">
												<span class="category">Dashboard</span>
												<span class="divider">/</span>
												<span class="date">25.05.2019</span>
											</h6>
											<div class="blog-description">
												<p>Skyline is a responsive admin dashboard template for admin and back end applications.</p>
											</div>
											<div class="blog-actions">
												<a href="javascript:void(0)" class="btn btn-primary">Keep Reading</a>
												<div class="actions">
													<a href="#"><i class="icon-favorite grey"></i>620</a>
												</div>
											</div>
										</div>
									</div>
								</div>	
							</div>
							<!-- Row end -->

						</div>
						<div class="col-xl-3 col-lg-12 col-md-12 col-sm-12 col-12">

							<!-- Row start -->
							<div class="row gutters">
								<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
									<div class="blog">
										<img class="blog-img" src="img/bg2.jpeg" alt="Card image cap">
										<div class="blog-body">
											<p>Skyline is a responsive admin dashboard template for admin and back end applications.</p>
											<div class="blog-actions">
												<a href="#" class="btn btn-primary">Browse</a>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
									<div class="card">
										<div class="card-header">
											<div class="card-title">Categories</div>
										</div>
										<div class="card-body">
											<div class="categories">
												<span class="badge">Admin</span>
												<span class="badge">Chat</span>
												<span class="badge">Dashboard</span>
												<span class="badge">Scss</span>
												<span class="badge">Calendar</span>
												<span class="badge">Horizontal Menu</span>
												<span class="badge">Profile</span>
												<span class="badge">Invoice</span>
												<span class="badge">Pricing</span>
												<span class="badge">Gallery</span>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
									<div class="card">
										<div class="card-header">
											<div class="card-title">Popular Posts</div>
										</div>
										<div class="card-body">
											<div class="popular-posts">
												<a href="#">
													<img src="img/img2.jpg" class="post-img" alt="Skyline Blog Post" />
													<div class="post-content">
														<h6 class="post-title">Skyline Admin Template</h6>
														<h6 class="post-date">
															<span class="category">Admin</span>
															<span class="divider">/</span>
															<span class="date">25.05.2019</span>
														</h6>
													</div>
												</a>
												<a href="#">
													<img src="img/img4.jpg" class="post-img" alt="Skyline Blog Post" />
													<div class="post-content">
														<h6 class="post-title">Admin Dashboard</h6>
														<h6 class="post-date">
															<span class="category">Chat</span>
															<span class="divider">/</span>
															<span class="date">25.05.2019</span>
														</h6>
													</div>
												</a>
												<a href="#">
													<img src="img/img8.jpg" class="post-img" alt="Skyline Blog Post" />
													<div class="post-content">
														<h6 class="post-title">Bootstrap 4 Admin Theme</h6>
														<h6 class="post-date">
															<span class="category">Theme</span>
															<span class="divider">/</span>
															<span class="date">25.05.2019</span>
														</h6>
													</div>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- Row end -->

						</div>
					</div>
					<!-- Row end -->

				</div>
				<!-- Main container end -->

</th:block>
		
</html>